@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,600&display=swap');

body {
    background: -webkit-linear-gradient(90deg, rgb(25, 28, 30), rgb(17, 32, 99));
    background: linear-gradient(90deg, rgb(25, 28, 30), rgb(17, 32, 99));
    /*background-image: url("https://i.pinimg.com/originals/2b/55/d0/2b55d065b72e1bb9cf8c3adad23da395.jpg");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: cover; /* Resize the background image to cover the entire container */

    color: #F8F8F8;
    max-width: 90%;
    /*font-family: Arial, sans-serif;*/
    margin: 20px;
    font-size: 20px;
}

header h1 {
    text-align: center;
    background: yellow;
}

header p {
    text-align: center;
}

h1 {
    color: #333333;
    text-align: center;
    text-shadow: 2px 2px 5px antiquewhite;
}


section {
    width: 80%;
    margin: auto;
}

.foto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    float: right;
}

.italicize {
    font-style: italic;
    border-left-style: solid;
    border-left-color: #92a8d1;
    padding-left: 30px;
    background: rgba(59, 20, 20, 0.3);
    font-size: 160%;

}

.italicize-f {
    font-style: italic;
    border-left-style: solid;
    border-left-color: yellow;
    padding-left: 30px;
    background: rgba(59, 20, 20, 0.3);
    font-size: 160%;
}

a.bad:link {

    text-transform: uppercase;
    background-color: #333333;
}

a.bad:link {
    color: red;
    text-transform: uppercase;
    background-color: #333333;
}

a.bad:visited {
    color: red;
}

a.bad:hover {
    color: #ffcc00;
}


a.good:link {

    text-transform: uppercase;
    background-color: #333333;
}

a.good:link {
    color: green;
    text-transform: uppercase;
    background-color: #333333;
}

a.good:visited {
    color: green;
}

a.good:hover {
    color: #ffcc00;
}


table {
    border: 1px solid whitesmoke;
    color: black;
    border-collapse: collapse;
    width: 45%;
    margin-left: auto;
    margin-right: auto;

}

caption {
    color: #F8F8F8;
}

table, th, td {
    padding: 15px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: grey;
}

/* unvisited link */
a.footerish:link {
    color: cornflowerblue;
}

/* visited link */
a.footerish:visited {
    color: red;
}

/* mouse over link */
a.footerish:hover {
    color: dodgerblue;
}

/* selected link */
a.footerish:active {
    color: blue;
}

blockquote {
    width: 50%;
    margin: auto;
    font-size: 160%;
    font-style: italic;
    padding-left: 3px;


}

#quote {
    margin: auto;
    padding: 80px 30px;
    border: 3px solid black;
    background: rgba(59, 20, 20, 0.3)
}

#boldi {
    font-weight: bold;
}

.notification {
    position: -webkit-sticky;
    position: sticky;
    bottom: 1rem;
    float: right;
    align-self: flex-end;
    background: #FFFFDD;
    padding: .5rem 1rem;
    border: 3px solid #DDDDCC;
    width: 250px;
    font-weight: bold;
    color: #333300;

}

footer {
    text-align: center;
}